# MkDocs Dependencies
# Install: pip install -r requirements.txt
mkdocs-material>=9.5
mkdocs-awesome-pages-plugin>=2.9
mkdocs-git-revision-date-localized-plugin>=1.2
mkdocs-minify-plugin>=0.8
mkdocs-glightbox>=0.4
